<div class="container">
    <% if ( isAuthenticated ) { %>
        <div id="app"></div>
    <% } else { %>
        <h1 class="header"><%= title %></h1>
        <p><%= message %></p>    
    <% } %>
</div>